.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-item a:hover {
  text-decoration: none;
}
